# Movies Tonight Part 3: SQL DML

In [1]:
%load_ext sql
%sql sqlite:///Movies.db

'Connected: @Movies.db'

1. **Load the `DATASET.csv` file into the `Movies.db` database.**  
    - Import the CSV file to create a new table called `DATASET`. Follow the example [here](http://www.sqlitetutorial.net/sqlite-import-csv/).
    - Use a [`PRAGMA table-info` pseudo-query](https://www.sqlite.org/pragma.html#pragma_table_info) to inspect the design of the new table. [How are we going to handle dates](https://www.sqlite.org/datatype3.html)?

In [11]:
%%sql

PRAGMA table_info(MOVIES);

 * sqlite:///Movies.db
Done.

[(0, '\xa0\xa0\xa0\xa0MID', 'INTEGER', 0, None, 1),
 (1, '\xa0\xa0\xa0\xa0MTitle', 'TEXT', 1, None, 0),
 (2, '\xa0\xa0\xa0\xa0Rating', 'TEXT\xa0\xa0\xa0\xa0', 0, None, 0)]

2. **Populate the tables with data.**  

    - Use `INSERT ... SELECT ...` queries to extract data from `DATASET` for each table of your other tables. 
    - Start with the strong entities before moving on to the weak ones. Be sure to always select distinct     values. 
    - Foreign Keys get special treatment. You will have to use JOINs to pick up the PKs from the other side of the relationships. (As in Part 1, use the fact that movie names, theater names, and people names are always unique in our source data. That way you can use then for the JOIN columns. 
    - If you have to start over, then rerun your DDL queries from Part 2.

In [12]:
%%sql

INSERT INTO MOVIES (MTitle, Rating)
    SELECT DISTINCT MTitle, Rating
        FROM DATASET;

 * sqlite:///Movies.db
(sqlite3.OperationalError) table MOVIES has no column named MTitle [SQL: 'INSERT INTO MOVIES (MTitle, Rating)\n    SELECT DISTINCT MTitle, Rating\n        FROM DATASET;'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [9]:
%%sql
INSERT INTO CREDITS (MID,AID,CCode)
SELECT DISTINCT MID,AID,CCode
FROM DATASET
    JOIN MOVIES ON (MOVIES,MTitle=DATASET,MTitle)
    JOIN ARRESTS ON (ARTISTS,NAME=DATASET,CName)

 * sqlite:///Movies.db
(sqlite3.OperationalError) no such table: ARRESTS [SQL: 'INSERT INTO CREDITS (MID,AID,CCode)\nSELECT DISTINCT MID,AID,CCode\nFROM DATASET\n    JOIN MOVIES ON (MOVIES,MTitle=DATASET,MTitle)\n    JOIN ARRESTS ON (ARTISTS,NAME=DATASET,CName)'] (Background on this error at: http://sqlalche.me/e/e3q8)

3. **Check your work.**  
There are 9 theaters, 23 movies, 152 artists, 131 shows, and 161 credits.

4. **Now check the source data.**  
There are actually 13 duplicate rows in the original source data! Can you spot them? Write a SQL query that counts how many times each (MTitle, TName, Showtime, CCode, and CName) appears. Which ones appear more than once?

In [ ]:
YOUR CODE HERE

5. **Drop the `DATASET` table.**  
We don't need it anymore.

6. **Save, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 3".