# Movies Tonight Part 2: SQL DDL

In [38]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

1. **Create / Reset a SQLite database.** 
    - Name the database `Movies.db`.
    - Add `DROP TABLE IF EXISTS` queries make sure you have a blank database. 
    - Use SQL comments to ay what each line does

In [66]:
%sql sqlite:///Movies.db

'Connected: @Movies.db'

2. **Use SQL Create Table commands to implement the table designs you created in Part 1.** 
    - Take care with your data types! (You do not need to populate them yet. That’s Part 3.) 
    - Use a surrogate key for the primary key of each table. The data type descriptor is `INTEGER PRIMARY KEY`.
    - If you make a mistake, recreate the database from scratch using your code from step 1 above.

In [68]:
%%sql
sqlite:///Movies.db
DROP TABLE IF EXISTS MOVIES;
DROP TABLE IF EXISTS THEATER;
DROP TABLE IF EXISTS ARTISTS;
DROP TABLE IF EXISTS SHOWS;
DROP TABLE IF EXISTS CREDITS;

Done.
Done.
Done.
Done.
Done.

[]

In [69]:
%%sql
CREATE TABLE MOVIES (
    MID INTEGER PRIMARY KEY,
    MTitle TEXT NOT NULL,
    Rating TEXT    
);

 * sqlite:///Movies.db
Done.

[]

In [70]:
%%sql 
CREATE TABLE THEATER (
    TID INTERGER PRIMARY KEY,
    TName TEXT NOT NULL,
    Phone TEXT NULL,
    Location NOT NULL
);

 * sqlite:///Movies.db
Done.

[]

In [71]:
%%sql
CREATE TABLE ARTISTS (
   Name NOT NULL,
    AID INTERGER PRIMARY KEY
);

 * sqlite:///Movies.db
Done.

[]

In [72]:
%%sql
CREATE TABLE SHOWS (
    SID INTERGER PRIMARY KEY,
    MID INTERGER NOT NULL,
    TID INTERGER NOT NULL,
    STline TEXT NOT NULL,
    FOREIGN KEY (MID) REFERENCES MOVIES (MID),
    FOREIGN KEY (TID) REFERENCES THEATERS (TID)
)

 * sqlite:///Movies.db
Done.

[]

In [73]:
%%sql
CREATE TABLE CREDITS (
    CCode TEXT NOT NULL,
    AID INTERGER NOT NULL,
    MID INTERGER NOT NULL,
    FOREIGN KEY (MID) REFERENCES MOVIES (MID),
    FOREIGN KEY (AID) REFERENCES THEATERS (AID)
)

 * sqlite:///Movies.db
Done.

[]

4. **Save, add, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 2".