# Movies Tonight Part 4: A few SELECT queries 
__Use `%%sql` magic to write the queries listed below.__

In [3]:
# load %sql magic extension
%load_ext sql

# initialize a database connection; may have to adjust username and password 
%sql sqlite:///Movies.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @Movies.db'

**1. Write a select query that returns the MovieTitle, TheaterName, and Showtime for each movie showing.**  
The query should use `JOIN` syntax as described in your textbook. Also, use aliases ( `… AS …` ) to make sure that column names match exactly what is asked for.

In [4]:
%%sql

/* *** Querying MovieTitle, TheaterName, ShowTime; Only limiting to 10 rows to save space *** */

SELECT MTitle AS MovieTitle, Show_Time AS ShowTime, TName AS TheaterName
FROM MOVIE
JOIN SHOW USING (MID)
JOIN THEATER USING (TID)
LIMIT 10;

 * sqlite:///Movies.db
(sqlite3.OperationalError) no such table: MOVIE [SQL: '/* *** Querying MovieTitle, TheaterName, ShowTime; Only limiting to 10 rows to save space *** */\n\nSELECT MTitle AS MovieTitle, Show_Time AS ShowTime, TName AS TheaterName\nFROM MOVIE\nJOIN SHOW USING (MID)\nJOIN THEATER USING (TID)\nLIMIT 10;'] (Background on this error at: http://sqlalche.me/e/e3q8)

**2. Write a select query to display the MovieTitle, TheaterName, and Showtime for each show after 7pm.** You can start with a copy of the previous query and then add a `WHERE` clause.

**3. Write a select query to display the cast (actors only) of each movie.** The query should return the Movie Title, Actor Name, MID, and AID.

**4. Write a select query to display the number of distinct movies that each actor appears in.** The query should return the ActorName, MovieCount, and AID. You will need to use use a GROUP BY clause and the COUNT() function.

**5. Write a select query to display only the actors that appear in multiple movies.** The query should return the Actor Name, Movie Count, and AID. You can use the previous select query as a starting point. You will need to add a HAVING clause to do the restriction.

**6. Write a select query to display directors that also act in their movies.** The query should return the ArtistName, NumDirectorCredits, NumActorCredits, NumDirectorActorCredits. Each count should be calculated separately using a subquery. Note: NumDirectorActorCredits should be greater than 0.